.inputAdd {
    width: 300px;
    font-size: 13px;
    padding: 10px 0 8px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.btn {
    margin-left: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
}